mixin icon(name, title, modifier)
  - 
    title = title || ''
    modifier = modifier || ''

  if modifier
    - modifier= `--${modifier}`
  svg(class=`icon icon__${name}${modifier}` role='img' title=title)
    use.asd(href=`svg/sprite.svg#${name}`)