include ../icon/icon
include ../../data/sendMessage

mixin sendMessage(options = {})  
  - const {showText = true} = options
  - const classes = showText ? 'soc-col' : 'soc'

  .send-mes
    h5= header
    div(class=classes)
      each soc in socs
        a(class=soc.class, href=soc.href, title=soc.text, target='_blank', rel='nofollow')
          +icon(soc.icon)
          if (showText)
            =soc.text