include ../menu/menu

mixin header(options = {})  

  
  - const {logo_title, logo_file, logo_file_mobile, logo_img_alt, company_address, email, phone1, phone2} = options

  header.header
    .header__content.content
      .header__logo 
        a(href='/' title= logo_title)
          img(src=`./images/${logo_file}` alt= logo_img_alt)
      .header__logo_mobile
        a(href='/' title=logo_title)
          img(src=`./images/${logo_file_mobile}` alt=logo_img_alt)
      .header__location 
        .header__address=data.company_address
        a.header__email(href=`mailto:${data.email}`)=data.email
      .header__contacts 
        a.header__phone(href="https://t.me/your_name")='Написать в Telegram'
        a.header__phone(href=`tel:${data.phone2}`)=data.phone2    
    +menu()