include ../menu/menu

mixin header(options = {})  

  
  - const {logo_title, logo_file, logo_file_mobile, logo_img_alt, company_address, email, phone1, phone2} = options

  header.header
    .header__content.content
      .header__logo 
        a(href='/' title= logo_title)
          img(src=`./images/${logo_file}` alt= logo_img_alt)
      .header__logo_mobile
        a(href='/' title=logo_title)
          img(src=`./images/${logo_file_mobile}` alt=logo_img_alt)
      .header__location 
        .header__address=company_address
        a.header__email-link(href=`mailto:${email}` title='Написать письмо')
          +icon('email_black_24dp')
          .header__email=email
      .header__contacts
        a.header__telegram-link(href="https://t.me/your_name"  title='Написать в Telegram')
          +icon('telegram')       
          .header__telegram='Мы в Telegram'
        a.header__phone-link(href=`tel:${phone2}` title='Позвонить')
          +icon('phone_black_24dp')
          .header__phone-number=phone1 
    +menu()