include ../menu/menu
include ../link/link

mixin header(options = {})  
  
  - const {logo_title, logo_file, logo_file_mobile, logo_img_alt, company_address, email, phone1, phone2} = options

  header.header
    .header__content.content
      .header__logo 
        a(href='/' title= logo_title)
          img(src=`./images/${logo_file}` alt= logo_img_alt)
      .header__logo_mobile
        a(href='/' title=logo_title)
          img(src=`./images/${logo_file_mobile}` alt=logo_img_alt)
      .header__location 
        .header__address=company_address
        +link({prefix: 'header__email', type: 'mailto', href: email, title: 'Написать письмо', icon: 'email_black_24dp'})
      .header__contacts
        +link({prefix: 'header__telegram', type: 'https', href: 'https://t.me/your_name', title: 'Мы в Telegram', icon: 'telegram'})
        +link({prefix: 'header__phone', type: 'tel', href: phone2, title: 'Позвонить', icon: 'phone_black_24dp'})
    +menu()