mixin gallery()

  - const qw = require('./components/gallery/data.json')

  .gallery
    each card in qw.cards
      .prod-card 
        img(src=require(`./images/${card.file}`) alt=card.alt)        
        h3= card.h3
        p= card.p