include ../icon/icon

mixin footer(options = {})
  - const {phone1, phone2, company_address, email, logo_title} = options
    //-const data = require('../../data/data.json')
    

  footer.footer 
    .footer__content.content
      #contacts.footer__contacts
        a.footer__phone-link(href=`tel:${data.phone1}` title='Позвонить')          
          +icon('phone_black_24dp')       
          .footer__phone-number=phone1 
        a.footer__phone-link(href=`tel:${data.phone2}` title='Позвонить')          
          +icon('phone_black_24dp')       
          .footer__phone-number=phone2 
      .footer__location 
        .footer__address=company_address
        a.footer__email-link(href=`mailto:${data.email}` title='Написать письмо')
          +icon('email_black_24dp')
          .footer__email=email
      .footer__copyright-wrap
        .footer__copyright=`${logo_title} © 2020`
        .footer__developer 
          a(href='http://jinv.ru' target='_blank')='Разработка сайта jinv.ru'          
