mixin footer(options = {})

  - const {phone1, phone2, company_address, email, logo_title} = options
    //-const data = require('../../data/data.json')
    

  footer.footer 
    .footer-content.content 
      .footer-contacts 
        a.footer-phone(href=`tel:${data.phone1}`)=phone1
        a.footer-phone(href=`tel:${data.phone2}`)=phone2 
      .footer-location 
        .footer-address=company_address
        a.footer-email(href=`mailto:${data.email}`)=email
      .footer-copyright 
        .copyright=`${logo_title} © 2020`
        .developer 
          a(href='http://jinv.ru' target='_blank')='Разработка сайта jinv.ru'