include ./components/header/header
include ./components/gallery/gallery
include ./components/footer/footer

doctype html
html(lang= 'ru')
  head
    meta(charset= 'utf-8')
    meta(name= 'viewport' content= 'width=device-width, initial-scale=1')
    meta(name= 'yandex-verification' content= 'cd37240a4230d2ac')
    meta(name= 'keywords' content= 'блок, строительный, керамзитовый, керамзитобетонный, муровой, стеновой, Джигинка')
    meta(name= 'description' content= 'Производим в Джигинке блоки стеновые - муровые, керомзитобетонные и керомзитовые разных размеров. Доставка. Качество и цены производителя. Закажите прямо сейчас!')
    title= 'Блок стеновой строительный - керамзитовый, керамзитобетонный, муравой в Джигинке'

  body
    include yandex-metrika.html
    +header()

    header.header-article.content 
      h1= 'Блок строительный в Джигинке'      
    article.content       
      .section-text 
        p= 'Мы производим качественный строительный блок на стационарном оборудовании, которое позволяет получать стеновой блок с наилучшей геометрией.'
      section 
        header
          h2
            a(name='block')= 'Блоки керамзитовые, керамзитобетонные и муровые'
          +gallery()
      section 
        header 
          h2 
            a(name='delivery')= 'Доставка блока покупателям'
        .section-text 
          include:markdown-it data/delivery.md          
    +footer()