include ./components/header/header
include ./components/footer/footer

doctype html
html(lang= 'ru')
  head
    meta(charset= 'utf-8')
    meta(name= 'viewport' content= 'width=device-width, initial-scale=1')
    meta(name= 'yandex-verification' content= 'cd37240a4230d2ac')
    meta(name= 'keywords' content= 'блок, строительный, керамзитовый, керамзитобетонный, муровой, стеновой, Джигинка')
    meta(name= 'description' content= 'Производим в Джигинке блоки стеновые - муровые, керомзитобетонные и керомзитовые разных размеров. Доставка. Качество и цены производителя. Закажите прямо сейчас!')
    title= 'Блок стеновой строительный - керамзитовый, керамзитобетонный, муравой в Джигинке'

  body
    include yandex-metrika.html
    +header()

    header.header-article.content 
      h1= 'Блок строительный в Джигинке'
    article.content 
      .section-text 
        p= 'Мы производим качественный строительный блок на стационарном оборудовании, которое позволяет получать стеновой блок с наилучшей геометрией.'
      section 
        header
          h2
            a(name='block')= 'Блоки керамзитовые, керамзитобетонные и муровые'
          #gallery 
            .prod-card 
              img(src='images/block-m12.jpg' alt='Блок стеновой муровой 12х20х40')
              h3= 'Блок стеновой муровой 12х20х40'
              p= 'Цена: 20 руб'
            .prod-card 
              img(src='images/block-m20.jpg' alt='Блок стеновой муровой 20х20х40')
              h3= 'Блок стеновой муровой 20х20х40'
              p= 'Цена:26 руб'
            .prod-card 
              img(src='images/block-k32.jpg' alt='Блок стеновой муровой 32х20х40')
              h3= 'Блок стеновой муровой 32х20х40'
              p= 'Цена: 36 руб'
            .prod-card 
              img(src='images/block-kb12.jpg' alt='Блок стеновой керамзитобетонный 12х20х40')
              h3= 'Блок стеновой керамзитобетонный 12х20х40'
              p= 'Цена: 23 руб'
            .prod-card 
              img(src='images/block-k20.jpg' alt='Блок стеновой керамзитобетонный 20х20х40')
              h3= 'Блок стеновой керамзитобетонный 20х20х40'
              p= 'Цена: 33 руб'
            .prod-card 
              img(src='images/block-k32.jpg' alt='Блок стеновой керамзитобетонный 32х20х40')
              h3= 'Блок стеновой керамзитобетонный 32х20х40'
              p= 'Цена: 45 руб'
            .prod-card 
              img(src='images/block-k12.jpg' alt='Блок стеновой керамзитовый 12х20х40')
              h3= 'Блок стеновой керамзитовый 12х20х40'
              p= 'Цена: 28 руб'
            .prod-card 
              img(src='images/block-k20.jpg' alt='Блок стеновой керамзитовый 20х20х40')
              h3= 'Блок стеновой керамзитовый 20х20х40'
              p= 'Цена: 42 руб'
            .prod-card 
              img(src='images/block-k32.jpg' alt='Блок стеновой керамзитовый 32х20х40')
              h3= 'Блок стеновой керамзитовый 32х20х40'
              p= 'Цена: 54 руб'
      section 
        header 
          h2 
            a(name='delivery')= 'Доставка блока покупателям'
        .section-text 
          p= 'Доставка блока покупателю осуществляется на поддонах с помощью машин-манипуляторов.'
          p= 'Мы доставляем строительный блок во все населенные пункты Анапского, Темрюкского, Крымского районов, а также Новороссийский округ.'
          p= 'Стоимость доставки зависит от расстояния.'
          p= 'Выгрузка блока бесплатная, при условии, что она производится на землю, либо на плиту первого этажа. Если требуется выгрузка с подачей на перекрытие второго этажа, то стоимость разгрузки составляет 100 рублей за поддон.'
    +footer()