mixin slider
  .wraper.container   
    .wrap
      .slider
        .but1(tabindex="1")
        .but2(tabindex="1")
        .but3(tabindex="1")  
        .but4(tabindex="1")
        .but5(tabindex="1")      
        .round1.nav
        .round2.nav
        .round3.nav   
        .round4.nav
        .round5.nav      
        .img1.images
          img(src="https://st14.stblizko.ru/images/slides/001/102/120_big.png")
          .discript1
            h3='Доставка'
            p='Осуществим доставку своим транспортом'
        .img2.images
          img(src="https://i.1.creatium.io/e3/5a/a5/d091c3e4c85749a4c762312a20cb052981/f4-003.jpg")
          .discript2
            h3='Предоплата'
            p='Мы работаем без предоплаты. Вы оплачиваете всю сумму при получении товара'          
        .img3.images
          img(src="https://st14.stblizko.ru/images/slides/001/102/119_big.png")
          .discript3
            h3='Опт и розница'
            p='Отгружаем товары любыми партиями'          
        .img4.images
          img(src="https://i.1.creatium.io/66/c9/32/117560f3b76216c3e8cf4bbf65aa2b5d96/Завод%201.jpg")
          .discript4
            h3='10 лет на рынке'
            p='Отличное качество, большой опыт работы'
        .img5.images
          img(src="https://st14.stblizko.ru/images/slides/001/104/945_big.png")
          .discript5
            h3='Документация'
            p='Полная документация на товар (накладные, чеки)'