mixin slider(options = {})

  - let {slides} = options
     
  .slider-wrap
    .slider   
      each slide, index in slides
        - 
          let {img, title, descript} = slide
          let num =  index+1

        .slider__box(class=`but${num}` tabindex="1")
        .nav(class=`round${num}`)
        .images(class=`img${num}`)
          img.slider__img(src= img)
          div(class=`descript${num}`)
            h3= title
            p= descript